<%= error_messages_for :meal %>

<td>Recipe</td><% if controller.action_name == 'new' %>
                    <%= @recipe.title %>
                <% end %>
                <% if controller.action_name == 'edit' %>
                    <%= @meal.recipe.title %>
                <% end %>
<% form_for(@meal) do |f| %>
    <table class="Table">
        <tr>
            <th>Quantity</th><th>unit</th><th>Ingredience</th>
        </tr>
        <tr>
            <td><%= f.text_field :quantity, :size => 3 %></td>
            <td><%= collection_select("meal", "unit_id" , @units, "id", "name") %></td>
            <td><%= collection_select("meal", "ingredience_id" , @ingrediences, "id", "title") %></td>

        </tr>      
    </table>

    <% if controller.action_name == "edit" -%>
        <%= f.submit "Update" -%>
    <% end %>
    <% if controller.action_name == "new" -%>
        <%= f.submit "Create" -%>
    <% end %>
    | <%= link_to 'Back', meals_path -%>
<% end %>