<%= tabnav :kitchen %>
<h1>Listing Meals</h1>
<% form_tag meals_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    <% if logged_in? %>| <%= link_to 'New', new_meal_path %><% end %>
  </p>
<% end %>
<% if @meals.empty? %>
    Sorry no meals found
<% end %>

<table class="Table">

  <tr valign="top">
    <th>Name</th>
  </tr>
        <%
            odd_or_even = 0
            for meal in @meals
            odd_or_even = 1 - odd_or_even
        %>
          <tr valign="top" class="ListLine<%= odd_or_even %>">
            <td><%= link_to meal.recipe.title, meal %></td>

              <% if logged_in? %>
                <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
                <td><%= link_to 'Destroy', meal, :confirm => 'Are you sure?', :method => :delete %></td>
              <% end %>
      </tr>
    <% end %>
</table>
<%= will_paginate @meals %>