<%= error_messages_for :location %>

<% form_for(@location) do |f| %>
    <table class="Table">
        <tr>
            <td>Name</td><td> <%= f.text_field :name %></td>
        </tr>

    </table>
    <% if controller.action_name == "edit" -%>
        <%= f.submit "Update" -%>
    <% end %>
    <% if controller.action_name == "new" -%>
        <%= f.submit "Create" -%>
    <% end %>
    | <%= link_to 'Back', locations_path -%>
<% end %>